<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.panasonic.sanyo.ts.firmwareupdate"
    android:sharedUserId="me.s1204.benesse.shared"
    android:sharedUserLabel="Benesse Un-Digichalized Tablet">
    <application
        android:allowBackup="false"
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="Fake">
        <activity
            android:name=".FirmwareUpdateActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
