<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.benesse.dcha.setupwizard">
    <application
        android:allowBackup="false"
        android:icon="@android:mipmap/sym_def_app_icon"
        android:label="DchaSetupWizard">
        <receiver
            android:name=".StartWidget"
            android:exported="false"
            android:label="Launch PlayStore"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget" />
        </receiver>
    </application>
</manifest>
